@import "tailwindcss";

@theme inline {
  --font-sans: var(--font-archivo);
}

html,
body {
  min-height: 100%;
}

body {
  background: #fafafa;
  color: #171717;
  font-family: var(--font-archivo), sans-serif;
}
